.brand a {
    font-size: 21px;
    color: white;
    letter-spacing: 1px;
}

.my-form {
    padding-left: 0;
    padding-right: 0;
}

.btn-submit {
    background: unset;
    border: 0;
}

.bordered {
    border: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-left: 15px;
    max-width: 31%;
}

.button-image {
    margin-top: 10px;
}


.my-logo a {
    max-width: 100%!important;
}

.header-login-btn {
    padding-right: 0;
}

.service-title {
    font-size: 20px;
    text-transform: capitalize;
}

.equalize-heights {
    min-height: 110px;
}

.price-text {
    font-size: 18px;
}

.btn-card li {
    display: inline-block;
}

.btn-card li:last-child {
    margin-left: 3px;
}

.my-pagination {
    margin-top: 25px;
}

.my-pagination .pagination .page-link {
    padding: 1.1em;
}
.my-pagination .pagination {
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.my-img-fluid {
    width:100%;
}

.my-jumbo-text {
    text-align: center;
}
.my-jumbo-text .lead {
    margin-top: 22px;
}

.my-banner {
    background-image: url(/img/banner.jpeg);
    background-size: cover;
    background-position: top;
}

.home-title {
    padding-bottom: 20px;
    width: 350px;
    border-bottom: 1px solid #007bff;
    margin: auto;
}

.home-content {
    font-size: 17px;
    text-align: center;
}

.blurb {
    border: 1px solid #d5d1d1;
    border-radius: 15px;
    padding-top: 21px;
    background: #f8f8f8;
    transition: 0.3s;
}
.blurb-icon {
    font-size: 64px;
    margin-top: 0px;
}

.blurb-title h4 {
    font-weight: 400;
    font-size: 20px;
}
.blurb a {
    color: grey;
}

.blurb:hover a {
    color: white;
}

.blurb:hover {
    background: #ccccff;
}

.data-rekening p {
    font-size: 20px;
    line-height: 1.7em;
}

.bukti-transfer img {
    height: 50px;
    width: 80px;
    object-fit: cover;
}

.home-section-1 p {
    margin-bottom: 15px;
}

ul.home-list {
    list-style-type: initial;
    padding-left: 20px;
    color: #444444;
    font-size: 16px;
}

.footer-detail {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.footer-icon li {
    display: inline-block;
    font-size: 30px;
    margin-left: 12px;
}

.footer-tag a {
    color: white;
}

.footer-tag {
    background: linear-gradient(to right, #0062cc 0%, #005cbf 100%);
    color: white!important;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: -19px!important;
}

.my-slide .carousel-caption {
    position: absolute;
    top: 50%;
    padding-top: 0;
}

.my-slide .carousel-caption h5 {
    font-size: 45px;
    text-shadow: -1px 1px 4px rgba(0,0,0,0.87);
}
.my-slide .carousel-caption p {
    color: white;
    font-size: 29px;
    padding-top: 9px;
    font-weight: 300;
    text-shadow: -1px 1px 4px rgba(0,0,0,0.87);
}

.slicknav_menu {
    margin-top: 0;
}

.login-form-head {
    background: linear-gradient(to right, #0062cc 0%, #005cbf 100%)!important;
}

@media screen and (max-width:980px){
    .header-login-btn, .header-register-btn {
        display: inline-block!important;
        width: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .my-slide .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
    }
    .my-slide .carousel-caption h5 {
        font-size:25px;
    }
    .my-slide .carousel-caption p {
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    .my-slide .carousel-caption {
        top:20px;
        transform:unset;
    }
    .my-slide .carousel-caption p {
        font-size: 16px;
        line-height: 1em;
    }
    .home-title {
        width:80%;
    }
 }


 @media (max-width: 992px) {
     .menu-main {
         display:none;
     }
    .btn-card li:last-child {
        margin-top: 10px;
    }
 }

 @media (max-width: 767.98px) {  
    .user-profile {
        margin-top: 10px!important;
    }
 }


 .service-table tr th:nth-child(1) {
    width: 20px!important;
}

.pesanan-table tr td:nth-child(2) {
    width: 50px;
}
.pesanan-table tr td:nth-child(1) {
    width: 180px;
}